@import url(variables.css);
*{
padding:0;
margin: 0;
font-family: "EncodeSans-Regular";
box-sizing: border-box;
}

.header {
    background-color: #3169e4;
    height: 180px;
    width: 100%;
    display: grid;
    margin-top: 30px;
}


.header_up {
  padding-top: 10px;
  margin-top: 15px;

}

.header_up h2 {
    color: #ffffff;
    font-size: 20px;
    margin-left: 25px;    
}

.header_up p{
    color: #ffffff;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 5px;
}



.nav_search{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.nav_search input{
    width: 100%;
    background-color: #00000080;
    height: 45px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 15px;
    outline: none;
    font-size: 20px;
    color: #ffffff;

}

.people_search{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #ffffff;
    height: 150%;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.persona1{
    width: 100px;
    height: 100px;
    grid-row: 1;
}
.persona1 img{
grid-column: 1;
}

.text1 {
    grid-column: 2;
}

.persona2{
    width: 100px;
    height: 100px;
    border-radius:  50%;
    grid-row: 2;
}

.persona2 img{
    grid-column: 1;

}

.text2 {
    grid-column: 2;


}   


.persona3{
    width: 40px;
    height: 40px;
    border-radius:  50%;
    grid-row: 3;
}
  

.persona4{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-row: 4;
}


.persona5{
    width: 40px;
    height: 40px;
    border-radius:  50%;
    grid-row: 5;
}



.persona6{
    width: 40px;
    height: 40px;
    border-radius:  50%;
    grid-row: 6;
}


